<form method="post" action="/videogames/new">
  <label for="title">Title:</label>
  <input type="text" name="title" required>
  <br>
  <label for="developers">Developers:</label>
  <input type="text" name="developers">
  <br>
  <label for="publishers">Publishers:</label>
  <input type="text" name="publishers">
  <br>
  <label for="genre">Genre:</label>
  <input type="text" name="genre">
  <br>
  <input type="submit" value="Add Game">
</form>
