<h1>Welcome to BlitzAce Games Library</h1>
<br>
<h3>A Sub site of Eclipse Gaming</h3>

<p><a href='/login'>Click Here</a> to login</p>

<p><a href='/signup'>Click Here</a> to sign up.</p>

<p><a href='https://owd.tcnj.edu/~ashmanc1/Site-01/index.html'>Click Here</a> to check out the old Eclipse Gaming Site</p>
